.Review {
  .Review__Ratting {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
    margin-top: 15px;
    overflow: visible;
    .review__title {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.87);
      margin-right: 0.2em;
      text-transform: capitalize;
    }
  }
}

.review__product-list {
  .review__product-ratting {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    display: flex;
    padding: 16px 0 16px 20px;
  }
}
.product__ratting-avatar-user {
  width: 40px;
  margin-right: 10px;
  text-align: center;
}

.product__ratting-main {
  flex: 1;
  .product__ratting-nameUser {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.75rem;
  }
  .product__ratting-dateReview {
    margin-top: 0.75rem;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.54);
  }
  .product__ratting-content {
    position: relative;
    box-sizing: border-box;
    margin: 0.9375rem 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.87);
    word-break: break-word;
    white-space: pre-wrap;
  }
}
