.Inspiration {
  font-weight: 400;
  padding: 48px 0 45px;
}
.inspiration__background {
  background: url(../../../assets/image//Inspiration/cloudteabg.png) top
    center/cover no-repeat;
}
.inspiration__container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.inspiration__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
}
.inspiration__img {
  flex: 0 0 49%;
  width: 49%;
}

.inspiration__info {
  flex: 0 0 49%;
  width: 49%;
}

.inspiration__info-desc {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85);
  max-width: 639px;
  margin: 0 auto 16px;
}
.inspiration__btn {
  display: block;
  max-width: 282px;
  background: #b3ddca;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
}
