.SingleProduct {
  .singleProduct__info {
    position: relative;
  }
}

.productCarousel {
  max-width: 650px;
  margin: 0 auto;
  background: #fff;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.thumbCarousel {
  max-width: 650px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
}

.thumb.active {
  border: 1px solid #e57905;
}
