<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457124754305-asq1fk5jj5tt605vuncj5dm5ol7t25gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457124754305-asq1fk5jj5tt605vuncj5dm5ol7t25gu</string>
	<key>API_KEY</key>
	<string>AIzaSyB6IJbmI1GOXmpyyDWuuge1Wg74OrK4Wc4</string>
	<key>GCM_SENDER_ID</key>
	<string>457124754305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khuongviettai.Coffee</string>
	<key>PROJECT_ID</key>
	<string>vt-coffee-9fb73</string>
	<key>STORAGE_BUCKET</key>
	<string>vt-coffee-9fb73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457124754305:ios:e53850534626ad6b93ee80</string>
</dict>
</plist>