@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.Signup__body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ff966d, #fa538d, #89379c);
}

.Signup__container {
  width: 50vw;
  height: 63vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "sign";
  box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
  border-radius: 20px;
  background: white;
  overflow: hidden;
}

.Signup {
  grid-area: sign;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: white;
  .Signup__title {
    margin: 15px 0;
  }
}

.Signup__text-input {
  margin-bottom: 25px !important;
  background: #e6e6e6;
  height: 40px;
  display: flex;
  width: 60%;
  align-items: center;
  border-radius: 10px;
  padding: 0 15px;
  margin: 5px 0;
}

.Signup__text-input--input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.text-input i {
  color: #686868;
}

::placeholder {
  color: #9a9a9a;
}

.Signup__btn {
  width: 63%;
  padding: 10px;
  color: white;
  background: linear-gradient(to right, #ff966d, #fa538d, #89379c);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
}

.Signup__link {
  font-size: 12px;
  color: #9a9a9a;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  &-Signin {
    font-weight: 400;
    color: #333;
  }
}

.Signup__create {
  color: #9a9a9a;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 50% 50%;
    grid-template-areas: "design login";
  }

  .design {
    display: block;
  }
}
