.swiper-button-next {
  color: #fff;
  right: 80px;
}
.swiper-button-next:after {
  font-size: 20px;
  color: black;
}
.swiper-button-prev {
  color: #fff;
  left: 80px;
}
.swiper-button-prev:after {
  font-size: 20px;
  color: black;
}

.swiper-pagination-bullet {
  border-radius: 0;
  color: #ffffff;
  background: #ffffff;
  width: 16px;
  height: 2px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #e57905;
}

@media only screen and (max-width: 739px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
