.ForgotPasswordComponent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ff966d, #fa538d, #89379c);
}

.forgotPassword__container {
  width: 50vw;
  height: 85vh;
  display: grid;
  grid-template-columns: 100%;
  box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
  border-radius: 20px;
  background: white;
  overflow: hidden;
}
.forgotPassword__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: white;
}
.forgotPassword__form-wrap {
  margin-bottom: 12px;
}
.form__wrap-info {
  padding: 10px;
}
.form__wrap-input {
  background: #e6e6e6;
  height: 40px;
  display: flex;
  width: 300px;
  align-items: center;
  border-radius: 10px;
  padding: 0 15px;
  margin: 5px 0;
}
.form__text-input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.forgotPassword__submit {
  width: 320px;
  padding: 10px;
  color: white;
  background: linear-gradient(to right, #ff966d, #fa538d, #89379c);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.forgotPassword__link-toRegister {
  display: flex;
  align-items: center;
  bottom: 30px;
  .link__toRegister {
    margin-left: 12px;
    color: #9a9a9a;
    font-weight: 600;
  }
}

.forgotPassword__linkTo-forgetPassword {
  margin-top: 20px;
  // margin-bottom: 10px;
  .forgetPassword__link {
    color: #9a9a9a;
  }
}

.countdown__text {
  //   max-width: 655px;
  display: flex;
  justify-content: space-around;
  //   grid-template-areas: "sign";
}

.btn__resend-code {
  //   margin-left: 200px;
  border: none;
  background: none;
  color: rgb(255, 86, 48);
}
